body {
  font-family: 'Roboto', sans-serif;
  background-color: #202020;

}

.container {
  max-width: 1200px;

  margin: 0 auto;
  padding: 0 20px;

}

/* Responsiveness */
@media (max-width: 650px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar img {
    margin-bottom: 10px;
  }

  .nav-links {
    margin-top: 10px;
  }

  .nav-links a {
    margin: 5px 0;
  }

  .profile-picture {
    width: 100px;
    height: 100px;
  }

  .projects-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (min-width: 651px) and (max-width: 999px) {
 
  .navbar {
    padding: 10px;
  }

  .navbar img {
    height: 30px;
  }

  .nav-links a {
    margin-left: 10px;
  }

  .profile-picture {
    width: 120px;
    height: 120px;
  }

  .projects-container {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

@media (min-width: 1000px) {
 
  .navbar {
    padding: 20px;
  }

  .navbar img {
    height: 40px;
  }

  .nav-links a {
    margin-left: 20px;
  }

  .profile-picture {
    width: 150px;
    height: 150px;
  }

  .projects-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
